[submodule "GUI"]
	path = GUI
	url = https://github.com/iMckify/GUI
	branch = master
	update = rebase

[submodule "Scraper"]
	path = Scraper
	url = https://github.com/iMckify/Scraper
	branch = master
	update = rebase

[submodule "EdgarRssReader"]
	path = EdgarRssReader
	url = git@github.com:iMckify/EdgarRssReader.git
